extends master.pug
block content
    include ./components/home/banner-menu.pug
    include ./components/home/count-help.pug
    include ./components/home/counterUp.pug
    include ./components/home/some-good-cause.pug
    include ./components/home/categories.pug
    include ./components/home/people-say.pug
    include ./components/home/clients.pug
    include ./components/home/upComming.pug
    include ./components/home/video.pug
    include ./components/home/volunteer-form.pug
    include ./components/home/blog.pug


