//- //////////////// Start Blog //////////////////////////
include ../../mixins/title.pug
.blog
    .container
        .row
            +title('new & articles', 'Every Single Update')            
        .row    
            .col-lg-6.col-md-12    
                .blog__left
                    img(src="./images/blog1.png", alt="")
                    .image__overlay
                        .blog__box
                            .blog__box-title family plan
                            .blog__box-heading Divided Deep darkness multiply
                            ul.blog__box-times
                                li.blog-times
                                    i.fal.fa-calendar
                                    | 17 Oct, 2019
                                li.blog-comment
                                    i.fal.fa-comments-alt
                                    | 03 Comment

            .col-lg-6.my-auto
                .blog__small    
                    .blog__small-img                                               
                        img(src="./images/img1.png", alt="")
                
                    .blog__small-content
                        .blog-text education
                        .blog__box-heading Spirit forth an bath herb
                        ul.blog__box-times
                            li.blog-times
                                i.fal.fa-calendar
                                | 17 Oct, 2019
                            li.blog-comment
                                i.fal.fa-comments-alt
                                | 03 Comment
                .blog__small
                    .blog__small-img 
                        img(src="./images/img2.png", alt="")
                    .blog__small-content
                        .blog-text medical
                        .blog__box-heading Two wherein likenes live
                        ul.blog__box-times
                            li.blog-times
                                i.fal.fa-calendar
                                | 17 Oct, 2019
                            li.blog-comment
                                i.fal.fa-comments-alt
                                | 03 Comment
                .blog__small
                    .blog__small-img 
                        img(src="./images/img3.png", alt="")
                    .blog__small-content
                        .blog-text family plan
                        .blog__box-heading Fill Great She Place Tour
                        ul.blog__box-times
                            li.blog-times
                                i.fal.fa-calendar
                                | 17 Oct, 2019
                            li.blog-comment
                                i.fal.fa-comments-alt
                                | 03 Comment
//- //////////////// End Blog //////////////////////////