.client
    .container
        .client__detail
            .row
                .col-md-3.pd-r-client-0
                    .client__detail-logo
                        h2 Our Doner
                .col-md-9.pd-l-client-0
                    .client__detail-img.owl-carousel.owl-theme
                        img(src="./images/Group 1 copy.png", alt="")
                        img(src="./images/Group 2 copy.png", alt="")
                        img(src="./images/Group 3 copy.png", alt="")
                        img(src="./images/Group 4 copy.png", alt="")
                        img(src="./images/Group 1 copy.png", alt="")
                        img(src="./images/Group 2 copy.png", alt="")
                        img(src="./images/Group 3 copy.png", alt="")
                        img(src="./images/Group 4 copy.png", alt="")
