include ../../mixins/title.pug
.countHelp
    .countHelp__color
        img(src="images/countHelp__BG.png", alt="").countHelp__color-img
    .container
        .countHelp__content
            .countHelp__count
                +title('some features','Every Good Act Counts')
                .row
                    .col-lg-4.text-center.countHelp__content-row
                        .countHelp__count-boxPresent
                            img(src="images/count-present.png", alt="").countHelp__count-img
                            h4.countHelp__count-boxTitle
                                |Surprise Box
                            p.countHelp__count-boxDescription
                                |Replenis our unto the fill set make night beno blessed mid you creature signs.Beast is to replenish saying out whales years years face called.
                            .countHelp__count-btn.d-flex
                                a(href="#").countHelp__count-link
                                    |Read More
                                    img(src="images/count-arrow.png", alt="").countHelp__count-arrow 
                    .col-lg-4.text-center.countHelp__content-row
                        .countHelp__count-boxGirl
                            img(src="images/count-girl.png", alt="").countHelp__count-img
                            h4.countHelp__count-boxTitle
                                |Become Bolunteer
                            p.countHelp__count-boxDescription
                                |Replenis our unto the fill set make night beno blessed mid you creature signs.Beast is to replenish saying out whales years years face called.
                            .countHelp__count-btn.d-flex
                                a(href="#").countHelp__count-link
                                    |Read More
                                    img(src="images/count-arrow.png", alt="").countHelp__count-arrow 
                    .col-lg-4.text-center.countHelp__content-row
                        .countHelp__count-boxBag
                            img(src="images/count-bag.png", alt="").countHelp__count-img
                            h4.countHelp__count-boxTitle
                                |Send Donation
                            p.countHelp__count-boxDescription
                                |Replenis our unto the fill set make night beno blessed mid you creature signs.Beast is to replenish saying out whales years years face called. 
                            .countHelp__count-btn.d-flex
                                a(href="#").countHelp__count-link
                                    |Read More
                                    img(src="images/count-arrow.png", alt="").countHelp__count-arrow
            .countHelp__help
                .row
                    .col-lg-6.countHelp__help-rowImg
                        .countHelp__help-imgWrapper
                            img(src="images/help__smile.png", alt="").countHelp__help-img
                    .col-lg-6.countHelp__help-row
                        h3.countHelp__help-title
                            |We Can’t Help Everyone But Everyone Can Help Someone
                        .countHelp__help-btn.d-flex
                            a(href="#").countHelp__help-link.countHelp__help-orange
                                |Our Mission
                            a(href="#").countHelp__help-link.countHelp__help-green
                                |Future Plan
                        p.countHelp__help-description
                            |Dominion theyare moving seasons have day were meat  setting great very us hath the, multiply one. Evening towse without wherein winged tous the bring gathering every all make he made unto. Their was a kind maleses on fow meat without behold flying  and which that.       
                        .countHelp__help-service.d-flex
                            .countHelp__help-education
                                img(src="images/help__education.png", alt="").countHelp__help-icon
                                h3.countHelp__help-serviceTitle
                                    |Free Education
                                p.countHelp__help-serviceDescription
                                    |Be man air male shalls under create light together grass fly dahis brough itself air abundantly
                            .countHelp__help-medicare                            
                                img(src="images/help__medicare.png", alt="").countHelp__help-icon
                                h3.countHelp__help-serviceTitle
                                    |Medicare Service
                                p.countHelp__help-serviceDescription
                                    |Be man air male shalls under create light together grass fly dahis brough itself air abundantly