<!-- People-Say Start-->
.peopleSay
    .container(style="overflow :hidden")
        p.peopleSay-title TESTIMONIALS
        h1.peopleSay-content Happy People Says
        .peopleSay-slide
            .peopleSay-slide__one.slide
                .row.row-control
                    .col-lg-8.col-md-12
                        p.slide__one-info Light dont night after moveth you of itself of were bearing faces do earth meat sixth stars cattles Together two fill. Evening firmament moving herb god very subdue had stars cattle firmament under doesn't Seed all dry.
                        h1.slide__one-author Marty Kamson 
                            span.slide__one-sign  _ Project Manager
                    .col-lg-4.col-md-12
                        img(src="images/1.jpg").slide__one-img
            
            .peopleSay-slide__two.slide
                .row.row-control
                    .col-lg-8.col-md-12
                        p.slide__one-info Light dont night after moveth you of itself of were bearing faces do earth meat sixth stars cattles Together two fill. Evening firmament moving herb god very subdue had stars cattle firmament under doesn't Seed all dry.
                        h1.slide__one-author Marty Kamson 
                            span.slide__one-sign  _ Project Manager
                    .col-lg-4.col-md-12
                        img(src="images/1.jpg").slide__one-img
            .peopleSay-slide__three.slide
                .row.row-control
                    .col-lg-8.col-md-12
                        p.slide__one-info Light dont night after moveth you of itself of were bearing faces do earth meat sixth stars cattles Together two fill. Evening firmament moving herb god very subdue had stars cattle firmament under doesn't Seed all dry.
                        h1.slide__one-author Marty Kamson 
                            span.slide__one-sign  _ Project Manager
                    .col-lg-4.col-md-12
                        img(src="images/1.jpg").slide__one-img
            
        .peopleSay-btn
            button.btn__prev
                i.fas.fa-arrow-left
            button.btn__next 
                i.fas.fa-arrow-right
<!-- People-Say End-->