// Some Good Cause
include ../../mixins/title.pug
.background
.cause
    .container
        .row
            +title('some features','Some Good Causes')
        .row.cause__carousel.owl-carousel.owl-theme
            .cause__nav-box
                a(href="#").cause__nav-box-img
                    img(src="images/Bitmap.jpg" alt="")
                .cause__nav-item
                    .box-title Need Clean Water
                    .box-bar
                        .bar__pink1.h-100
                    .box-info
                        .row
                            .col-lg-8.col-6.box-info__left
                                .box-info__item
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/goal.png" alt="")
                                        .item-goal__text Goal: $23,000
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/raise.png" alt="")
                                        .item-goal__text Raised: $20,140
                            .col-lg-4.col-6.box-info__right
                                .box-info__number
                                    span.data__number-item.counters(data-target='70') 0
                                    span %
                    a(href="").box-button.pink Ream more
                        i.fas.fa-arrow-right
            .cause__nav-box
                a(href="#").cause__nav-box-img
                    img(src="images/Bitmap2.jpg" alt="")
                .cause__nav-item
                    .box-title Provide Health Food
                    .box-bar
                        .bar__pink2.h-100
                    .box-info
                        .row
                            .col-lg-8.col-6.box-info__left
                                .box-info__item
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/goal.png" alt="")
                                        .item-goal__text Goal: $23,000
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/raise.png" alt="")
                                        .item-goal__text Raised: $20,140
                            .col-lg-4.col-6.box-info__right
                                .box-info__number
                                    span.data__number-item.counters(data-target='60') 0
                                    span %
                    a(href="").box-button.cyan Ream more
                        i.fas.fa-arrow-right
            .cause__nav-box
                a(href="#").cause__nav-box-img
                    img(src="images/Bitmap3.jpg" alt="")
                .cause__nav-item
                    .box-title Clothes For Everyone
                    .box-bar
                        .bar__pink3.h-100
                    .box-info
                        .row
                            .col-lg-8.col-6.box-info__left
                                .box-info__item
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/goal.png" alt="")
                                        .item-goal__text Goal: $23,000
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/raise.png" alt="")
                                        .item-goal__text Raised: $20,140
                            .col-lg-4.col-6.box-info__right
                                .box-info__number
                                    span.data__number-item.counters(data-target='80') 0
                                    span %
                    a(href="").box-button.orange Ream more
                        i.fas.fa-arrow-right
        .row.cause__carousel.owl-carousel.owl-theme
            .cause__nav-box
                a(href="#").cause__nav-box-img
                    img(src="images/Bitmap4.jpg" alt="")
                .cause__nav-item
                    .box-title Childreen Education
                    .box-bar
                        .bar__pink3.h-100
                    .box-info
                        .row
                            .col-lg-8.col-6.box-info__left
                                .box-info__item
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/goal.png" alt="")
                                        .item-goal__text Goal: $23,000
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/raise.png" alt="")
                                        .item-goal__text Raised: $20,140
                            .col-lg-4.col-6.box-info__right
                                .box-info__number
                                    span.data__number-item.counters(data-target='80') 0
                                    span %
                    a(href="").box-button.purple Ream more
                        i.fas.fa-arrow-right
            .cause__nav-box
                a(href="#").cause__nav-box-img
                    img(src="images/Bitmap5.jpg" alt="")
                .cause__nav-item
                    .box-title Donate For Homeless
                    .box-bar
                        .bar__pink5.h-100
                    .box-info
                        .row
                            .col-lg-8.col-6.box-info__left
                                .box-info__item
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/goal.png" alt="")
                                        .item-goal__text Goal: $23,000
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/raise.png" alt="")
                                        .item-goal__text Raised: $20,140
                            .col-lg-4.col-6.box-info__right
                                .box-info__number
                                    span.data__number-item.counters(data-target='75') 0
                                    span %
                    a(href="").box-button.blue Ream more
                        i.fas.fa-arrow-right
            .cause__nav-box
                a(href="#").cause__nav-box-img
                    img(src="images/Bitmap6.jpg" alt="")
                .cause__nav-item
                    .box-title Food For Orphan
                    .box-bar
                        .bar__pink6.h-100
                    .box-info
                        .row
                            .col-lg-8.col-6.box-info__left
                                .box-info__item
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/goal.png" alt="")
                                        .item-goal__text Goal: $23,000
                                    .item-goal.d-flex.align-items-center
                                        img(src="images/raise.png" alt="")
                                        .item-goal__text Raised: $20,140
                            .col-lg-4.col-6.box-info__right
                                .box-info__number
                                    span.data__number-item.counters(data-target='90') 0
                                    span %
                    a(href="").box-button.pink Ream more
                        i.fas.fa-arrow-right