// Start Video
include ../../mixins/title.pug
.video
  .video__background
    .video__background-image
    .video__background-overlay
  .container
    .row
      +title('Our Activity', 'Give Something To The Society Take Back Good Wishes')
      .video__button
        a.video__button-icon(data-fancybox='video' href='https://www.youtube.com/watch?v=-ttCBruXsjo&list=PLZLjCxQxwJSaVlw3jgmleo8PGfOd17QqN&index=205')
          i.far.fa-play
// End Video