.volunter
    .container
        .volunter__contact
            .row
                .col-lg-7.col-md-12.pd-r-form-0
                    .volunter__contact-form
                        .form__title
                            span.form__title-sub join with us
                            h2 Become A Volunteer
                        form(action="")
                            .row
                                .col-lg-6
                                    .form__group
                                        input.form__group-control(type="text" placeholder="Full Name" name = "fullName")
                                .col-lg-6
                                    .form__group
                                        input.form__group-control(type="text" placeholder="Email" name = "email")
                                .col-lg-6
                                    .form__group
                                        input.form__group-control(type="text" placeholder="Phone" name = "phone")
                                .col-lg-6
                                    .form__group
                                        input.form__group-control(type="text" placeholder="Address" name = "address")    
                                .col-lg-12
                                    .form__group
                                        textarea.form__group-control(name="", placeholder = "Comment")
                                .col-lg-12
                                    .form__btn
                                        button.form__btn-detail Send Request 
                                            i.fas.fa-arrow-right
                .col-lg-5.col-md-12.pd-l-form-0
                    .volunter__contact-img
                        img(src="./images/Group6.png", alt="")