.client {
    &__detail {
        &-logo {
            background: #fd5a5a;
            min-height: 160px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: url(../images/Group5.png);
                background-position: center;
                background-repeat: no-repeat;
                top: 21%;
                background-size: contain;
            }
            h2 {
                font-family: 'Vidaloka', serif;
                font-size: 48px;
                color: white;
                padding: 0 15px;
                white-space: nowrap;
                margin-bottom: 0;
                @include max-breakpoint(1024) {
                    font-size: 30px;
                }
            }
        }
        &-img {
            background: #0fc392;
            min-height: 160px;
            overflow: hidden;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            padding-top: 60px;
            padding-left: 75px;
            padding-right: 75px;
            @include max-breakpoint(768) {
                padding-left: 40px;
                padding-right: 35px;
                ;
            }
        }
        .owl-carousel {
            img {
                display: block;
                width: auto;
                margin: auto
            }
        }
    }
}

.pd-l-client-0 {
    padding-left: 0;
    @include max-breakpoint(767) {
        padding-left: 15px;
    }
}

.pd-r-client-0 {
    padding-right: 0;
    @include max-breakpoint(767) {
        padding-right: 15px;
    }
}