// Start Modal
#modals.modal
  .modal__content
    button.close-top
      i.fal.fa-times
    .modal__content-caption
      .modal__content-caption__search
        input.caption__text(type='text' placeholder='Search...' autofocus='')
        button.caption__icon
          i.far.fa-search
// End Modal