.topbar
  .container
    .topbar__content
      .topbar__content-contact
        .contact__info
          img(src="images/Headset.png").contact__info-img
          p.contact__info-number +1-36-652-5233
        .contact__email
          img(src="images/mail.png").contact__email-img
          p.contact__email-number zeap@example.com
      .topbar__content-button
        a(href="#").button__volunteer BECOME A VOLUNTEER
        a(href="#").button__donate DONATE NOW
